.list {
    list-style-type: none;
    background: linear-gradient(45deg, #eaeaf0, rgba(240, 246, 246, 0.919));
    display: flex;
    justify-content: right;
    font-family: "Roboto", Arial !important;
}

nav {
    background: linear-gradient(45deg, rgb(1, 1, 75), rgba(1, 1, 75));
    position: relative;
    z-index: 9999;
    width: 100%;
    height: 10%;
    border-radius: 7px;
}

.items {
    margin-right: 10px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(28, 33, 37);
}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 180%;
    margin: 0 20px;
    color: antiquewhite;
}

p {
    color: antiquewhite;
    margin: 0 50px;
}